<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/_header.css">
    <link rel="stylesheet" href="/css/_footer.css">
    <%- style%>
    <title>Habit-Tracker</title>
</head>
<body>
    <%- include('_header') %>
    <hr>
    <main>
        <%- body%>
    </main>
    
    
    <hr>
    <%- include('_footer') %>

    <%- script%>
</body>
</html>